In [67]:
#Course: Data Science Masters
#Title: Pandas - Assignment 12.1            
#Tool: Jupyter notebook 
#Author: Krishna A
#Date: 27-04-2018 (DD/MM/YYYY)

# Data Cleaning Assignments

import pandas as pd
import numpy as np
from pandasql import sqldf

#Sample monstrosity as the DataFrame to use in the following puzzles:
df = pd.DataFrame({
    'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
    'Budapest_PaRis', 'Brussels_londOn'],
    'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
    'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
    'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
    '12. Air France', '"Swiss Air"']
    })

print(df)

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1    <Air France> (12)           NaN      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France           NaN    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

In [68]:
#Problem statement 1: Some values in the the FlightNumber column are missing. These numbers are meant
#                     to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in
#                     these missing numbers and make the column an integer column (instead of a float column).

print(df.FlightNumber.dtype)  #To confirm FlighNumber data type

for i in range(1, len(df)):  #code snippet to update nan values based on previous row value.
    if np.isnan(df.loc[i,'FlightNumber']):     #loc[i,'FlightNumber'] == np.nan:
        df.loc[i, 'FlightNumber'] = df.loc[i-1, 'FlightNumber'] + 10
        
print(df)

df['FlightNumber']=df['FlightNumber'].astype('int64')  #changing datatype from float to integer 

print(df.FlightNumber.dtype) #To confirm updated lighNumber data type to integer

float64
               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1    <Air France> (12)       10055.0      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France       10075.0    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]
int64

In [69]:
#Problem statment 2: The From_To column would be better as two separate columns! Split each string on
#                    the underscore delimiter _ to give a new temporary DataFrame with the correct values.
#                    Assign the correct column names to this temporary DataFrame.

temp_df = pd.DataFrame(df['From_To'].str.split('_').tolist(),columns = ['From','To'])
print(temp_df)

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [70]:
#Problem statment 3: Notice how the capitalisation of the city names is all mixed up in this temporary
#                    DataFrame. Standardise the strings so that only the first letter is uppercase (e.g.
#                    "londON" should become "London".)

temp_df['From'] = temp_df['From'].str.title()  # Changing to title case
temp_df['To'] = temp_df['To'].str.title()      # Changing to title case
print(temp_df)

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [71]:
#Problem statment 4: Delete the From_To column from df and attach the temporary DataFrame from the
#                    previous questions.

df = df.drop('From_To', axis=1)  #Drop Column From_To
df = pd.concat([df, temp_df],axis=1,join='inner')
print(df)

               Airline  FlightNumber  RecentDelays      From         To
0               KLM(!)         10045      [23, 47]    London      Paris
1    <Air France> (12)         10055            []    Madrid      Milan
2  (British Airways. )         10065  [24, 43, 87]    London  Stockholm
3       12. Air France         10075          [13]  Budapest      Paris
4          "Swiss Air"         10085      [67, 32]  Brussels     London

In [72]:
#Problem statment 5: In the RecentDelays column, the values have been entered into the DataFrame as a
#                    list. We would like each first value in its own column, each second value in its own
#                    column, and so on. If there isn't an Nth value, the value should be NaN.

#                   Expand the Series of lists into a DataFrame named delays, rename the columns delay_1,
#                   delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

iNewcolumns = df["RecentDelays"].str.len().max()  #to get the maxsize of RecentDelays list to determine new columns count

lNewColNames = []
for i in range(0, 3):
    lNewColNames.append('Delay_' + str(i+1))

df[lNewColNames] = pd.DataFrame(df.RecentDelays.values.tolist(), index= df.index)
df = df.drop('RecentDelays', axis=1)  #Drop Column From_To
print (df)

               Airline  FlightNumber      From         To  Delay_1  Delay_2  \
0               KLM(!)         10045    London      Paris     23.0     47.0
1    <Air France> (12)         10055    Madrid      Milan      NaN      NaN
2  (British Airways. )         10065    London  Stockholm     24.0     43.0
3       12. Air France         10075  Budapest      Paris     13.0      NaN
4          "Swiss Air"         10085  Brussels     London     67.0     32.0

   Delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN